{% extends 'base.html' %}

{% load static %}
{% block content %}
    <script type="text/javascript">
        var map, marker;
        var markerArr = [], labelArr = [];

        function initTmap() {
            // 1. 지도 띄우기
            // map = new Tmapv2.Map("map_div", {
            //     center: new Tmapv2.LatLng(37.570028, 126.986072),
            //     width: "70%",
            //     height: "400px",
            //     zoom: 15,
            //     zoomControl: true,
            //     scrollwheel: true
            // });

            // 2. POI 통합 검색 API 요청
            $("#btn_select").click(
                function () {
                    var searchKeyword = $('#searchKeyword').val(); // 검색 키워드
                    $.ajax({
                        method: "GET", // 요청 방식
                        url: "https://apis.openapi.sk.com/tmap/pois?version=1&format=json&callback=result", // url 주소
                        async: false, // 동기설정
                        data: { // 요청 데이터 정보
                            "appKey": "TjRtNezMbM6nrEcIBw1vGdEk5QyPn91oQMGiJ4a0", // 발급받은 Appkey
                            "searchKeyword": searchKeyword, // 검색 키워드
                            "resCoordType": "EPSG3857", // 요청 좌표계
                            "reqCoordType": "WGS84GEO", // 응답 좌표계
                            "count": 10 // 가져올 갯수
                        },
                        success: function (response) {
                            var resultpoisData = response.searchPoiInfo.pois.poi;

                            // 2. 기존 마커, 팝업 제거
                            if (markerArr.length > 0) {
                                for (var i in markerArr) {
                                    markerArr[i].setMap(null);
                                }
                                markerArr = [];
                            }

                            if (labelArr.length > 0) {
                                for (var i in labelArr) {
                                    labelArr[i].setMap(null);
                                }
                                labelArr = [];
                            }

                            var innerHtml = ""; // Search Reulsts 결과값 노출 위한 변수
                            //맵에 결과물 확인 하기 위한 LatLngBounds객체 생성
                            var positionBounds = new Tmapv2.LatLngBounds();

                            // 3. POI 마커 표시
                            for (var k in resultpoisData) {
                                // POI 마커 정보 저장
                                var noorLat = Number(resultpoisData[k].noorLat);
                                var noorLon = Number(resultpoisData[k].noorLon);
                                var name = resultpoisData[k].name;

                                // POI 정보의 ID
                                var id = resultpoisData[k].id;

                                // 좌표 객체 생성
                                var pointCng = new Tmapv2.Point(
                                    noorLon, noorLat);

                                // EPSG3857좌표계를 WGS84GEO좌표계로 변환
                                var projectionCng = new Tmapv2.Projection.convertEPSG3857ToWGS84GEO(
                                    pointCng);

                                var lat = projectionCng._lat;
                                var lon = projectionCng._lng;

                                // 좌표 설정
                                var markerPosition = new Tmapv2.LatLng(
                                    lat, lon);

                                // Marker 설정
                                marker = new Tmapv2.Marker(
                                    {
                                        position: markerPosition, // 마커가 표시될 좌표
                                        //icon : "http://tmapapis.sktelecom.com/upload/tmap/marker/pin_b_m_a.png",
                                        icon: "http://tmapapis.sktelecom.com/upload/tmap/marker/pin_b_m_"
                                            + k
                                            + ".png", // 아이콘 등록
                                        iconSize: new Tmapv2.Size(
                                            24, 38), // 아이콘 크기 설정
                                        title: name, // 마커 타이틀
                                        map: map // 마커가 등록될 지도 객체
                                    });

                                // 결과창에 나타날 검색 결과 html
                                innerHtml += "<li>" +
                                    "<div><img src='http://tmapapis.sktelecom.com/upload/tmap/marker/pin_b_m_" + k + ".png' style='vertical-align:middle;'/>" + "" +
                                    "<span ondbclick='gotoNavigation("
                                    + "\""
                                    + lat + "@" + lon + "@" + name
                                    + "\""
                                    + ")'>"
                                    + name
                                    + "</span>  <button type='button' name='sendBtn' ondbclick='poiDetail("
                                    + id
                                    + ");'>상세보기<audio src='#' class='speech' hidden></audio></button></div></li>";

                                // 마커들을 담을 배열에 마커 저장
                                markerArr.push(marker);
                                positionBounds.extend(markerPosition); // LatLngBounds의 객체 확장


                                // 버스 아이디 받아오기


                            }

                            $("#searchResult").html(innerHtml); //searchResult 결과값 노출
                            map.panToBounds(positionBounds); // 확장된 bounds의 중심으로 이동시키기
                            map.zoomOut();
                        },
                        error: function (request, status, error) {
                            console.log("code:"
                                + request.status + "\n"
                                + "message:"
                                + request.responseText
                                + "\n" + "error:" + error);
                        }
                    });
                });
        }


        // 4. POI 상세 정보 API
        function poiDetail(poiId) {
            console.log(poiId);

            $.ajax({
                method: "GET", // 요청 방식
                url: "https://apis.openapi.sk.com/tmap/pois/"
                    + poiId // 상세보기를 누른 아이템의 POI ID
                    + "?version=1&resCoordType=EPSG3857&format=json&callback=result&appKey="
                    + "TjRtNezMbM6nrEcIBw1vGdEk5QyPn91oQMGiJ4a0", // 발급받은 Appkey
                async: false, // 동기 설정
                success: function (response) {
                    console.log(response);

                    // 응답받은 POI 정보
                    var detailInfo = response.poiDetailInfo;
                    var name = detailInfo.name;
                    var address = detailInfo.address;

                    var noorLat = Number(detailInfo.frontLat);
                    var noorLon = Number(detailInfo.frontLon);

                    var pointCng = new Tmapv2.Point(noorLon, noorLat);
                    var projectionCng = new Tmapv2.Projection.convertEPSG3857ToWGS84GEO(
                        pointCng);

                    var lat = projectionCng._lat;
                    var lon = projectionCng._lng;

                    var labelPosition = new Tmapv2.LatLng(lat, lon);

                    // 상세보기 클릭 시 지도에 표출할 popup창
                    var content = "<div style=' border-radius:10px 10px 10px 10px;background-color:#2f4f4f; position: relative;"
                        + "line-height: 15px; padding: 5 5px 2px 4; right:65px;'>"
                        + "<div style='font-size: 11px; font-weight: bold ; line-height: 15px; color : white'>"
                        + "name : "
                        + name
                        + "</br>"
                        + "address : "
                        + address + "</div>" + "</div>";

                    var labelInfo = new Tmapv2.Label({
                        position: labelPosition,
                        content: content,
                        map: map
                    });
                    //popup 생성

                    // popup들을 담을 배열에 팝업 저장
                    labelArr.push(labelInfo);
                },
                error: function (request, status, error) {
                    console.log("code:" + request.status + "\n"
                        + "message:" + request.responseText + "\n"
                        + "error:" + error);
                }
            });
        }

        // 5. goto navigation API
        function gotoNavigation(lat_lon_name) {
            console.log(lat_lon_name)
            tmpDict = lat_lon_name.split("@");
            var lat = tmpDict[0]
            var lon = tmpDict[1]
            var destName = tmpDict[2]


            $.ajax({
                method: "GET", // 요청 방식
                url: "http://openapi.gbis.go.kr/ws/rest/busstationservice?serviceKey=1234567890&keyword=" + destName, // url 주소
                async: false, // 동기설정
                data: { // 요청 데이터 정보
                    "serviceKey": "1234567890", // 발급받은 Appkey
                    "keyword": destName, // 검색 키워드
                },
                success: function (response) {
                    console.log(response)

                },
                error: function (request, status, error) {
                    console.log(error)
                }
            });


            if (confirm("경로 탐색을 시작하겠습니까?")) {

                location.href = '/navigation/?destination_lat=' + lat + '&destination_lon=' + lon + '&destination_name=' + destName;


            }

        }

    </script>
    <div class="container" style="
    display: flex;
    background: #000000 0% 0% no-repeat padding-box;
    flex-direction: column;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    padding-left: 30px;
    padding-right: 30px;




">
        <style>
            input::placeholder {
                color: white;

            }
        </style>
        <div style="font: normal normal bold 24px/29px Noto Sans CJK KR;color: white;
margin-top: 61px;
">목적지를 검색하세요 <img src="{% static 'img/타원 31.svg' %}" alt="온점">
        </div>
        <div style="font: normal normal normal 14px/17px Noto Sans CJK KR;
color: white; margin-top: 15px; margin-bottom: 81px">
            키보드 또는 음성으로 목적지를 검색하세요.
        </div>
        <div class="" style="display: flex;
    justify-content: center;
    align-items: center;
width: 300px;
height: 43px;
border: 2px solid var(--unnamed-color-ffffff);
border: 2px solid #FFFFFF;
border-radius: 30px;">
            <input
                    placeholder="키보드로 검색"
                    type="search"
                    style="    background-color: transparent;
    border: none;
    color: white;
    padding-left: 20px;
    font-size: 17px; "

                    class="text_custom form-control" id="searchKeyword" name="searchKeyword"/>

            <button id="btn_select"
                    style="background-color: transparent;
    border: none;"
                    class=""><img src="{% static 'img/검색.svg' %}" alt="검색 버튼"><audio src="#" class="speech" hidden></audio></button>
        </div>
        <div class="voice-search" style="margin-top: 24px;
    /* width: 100%; */
    margin: 24px auto;
    display: flex;
    justify-content: center;">
            <img style="width: 90px;
height: 90px;"
                 src="{% static 'img/그룹 125@2x.png' %}" alt="음성검색">
        </div>

        <div>
            <div style="width: 100%; float:left;">

                <div class="rst_wrap">
                    <div class="rst mCustomScrollbar">
                        <ul id="searchResult" name="searchResult">

                        </ul>
                    </div>
                </div>
            </div>
            <div id="map_div" class="map_wrap" style="float:left"></div>
        </div>
    </div>
    <div class="round"
         style="    width: 43px;
    height: 43px;
    /* margin: auto; */
    bottom: 20px;
    /* margin: auto; */
    z-index: 99999;
    /* right: 40vw; */
    left: 159px;
    position: fixed;">
        <img src="{% static 'img/메뉴.svg' %}" alt="메뉴">

    </div>
    <script>
        window.onload = () => {
            initTmap();
        }
    </script>
{% endblock %}
